@model IEnumerable<ModelLayer.Models.Customer>
<!---
@using Microsoft.AspNetCore.Http;
@{

    @inject IHttpContextAccessor HttpContextAccessor

    var isFiltered = @HttpContextAccessor.HttpContext.Session.GetString("_Name");

}


<h1>Index</h1>
<p id="firstName"> @isFiltered</p>
<script>

        var content = document.getElementById("firstName").textContent;
        console.log("content is " + content);
        document.getElementById("Login").innerHTML = content;
        //document.getElementById("Login").innerHTML = document.getElementById("firstName").textContent;

       // document.getElementById("Login").innerHTML = document.getElementById("fistName").textContent;

        //document.getElementById("Login").innerHTML =  @Html.DisplayNameFor(model => model.FirstName);
</script>

    -->

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
